//- nav
mixin nav(mods)

  //- Принимает:
  //- mods {string} - список модификаторов

  -
    // список модификаторов
    var newMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        newMods = newMods + ' main-nav--' + modsList[i].trim() + ' ';
       var allMods = newMods.trim();
      }
    }

  nav.main-nav(class=` ${allMods}`)&attributes(attributes)
    button.main-nav__toggle(type="button")
      span.visually-hidden Открыть меню
    .main-nav__container
      ul.main-nav__list
        each item in navPages
          li.main-nav__item
            a.main-nav__link(href="#" data-hover=`${item.name}`)=`${item.name}`

//- socials
mixin socials()

  ul.socials
    each social in socials
      li.socials__item
        a.socials__link(class=' socials__link--' + `${social.name}`)&attributes({'href': `${social.link}`, 'title': `${social.title}`})
          +icon(`${social.name}`)

//- icons
mixin icon(name)
  svg(class="icon  icon--" + name)
    use(xlink:href="img/svg/sprite/symbol/sprite.svg#" + name)
